<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="css/all.css">

</head>

<body>
    <div class="contener">
        <div class="logo">

            <img src='images/star-logo-design-template-b03931deef5788232b95b4da1f5e7d03_screen.jpg' alt="image">
            <p>alnajm</p>
        </div>
        <div class="link">

            <a href="/">HOME</a>
            <a href="/Samsung">samsung</a>
            <a href="/apple">apple</a>
            <a href="/Huwai">huawei</a>
            <a href="/Oppo">oppo</a>

        </div>
    </div>
    <div class="ba-title">
        <div class="tit">
            <h2>{{title}}</h2>
        </div>
    </div>



</body>

</html>